/* styles.css */

body{
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  opacity: 0; /* Başlangıçta şeffaf */
  animation: fadeInUp 0.8s ease-out forwards; /* Animasyonu 0.8 saniye sürecek şekilde ayarladık */
}

.card-delay {
  animation-delay: 2s;
}

.card-delay-0 {
  animation-delay: 4s;
}

.card-delay-1 {
  animation-delay: 6s;
}

.card-delay-2 {
  animation-delay: 8s;
}

.card-delay-3 {
  animation-delay: 10s;
}

.card-delay-4 {
  animation-delay: 12s;
}

.card-delay-5 {
  animation-delay: 14s;
}

.card-delay-6 {
  animation-delay: 16s;
}

.card-delay-7 {
  animation-delay: 18s;
}

.card-delay-8 {
  animation-delay: 20s;
}

.card-delay-9 {
  animation-delay: 22s;
}

.card-delay-10 {
  animation-delay: 24s;
}

.card-delay-11 {
  animation-delay: 26s;
}

.card-delay-12 {
  animation-delay: 28s;
}

.card-delay-13 {
  animation-delay: 30s;
}

.card-delay-14 {
  animation-delay: 32s;
}

.card-delay-15 {
  animation-delay: 34s;
}

.card-delay-16 {
  animation-delay: 36s;
}

/* Diğer kartlar için gecikmeler benzer şekilde artırılabilir */

@keyframes spinCustom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-custom {
  animation: spinCustom 2s linear infinite;
}

.glow-ring {
  box-shadow: 0 0 15px rgba(255, 223, 0, 0.8), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 45px rgba(0, 255, 0, 0.8);
}

.dado{
  -webkit-box-shadow: -1px 9px 31px 34px rgba(245,201,0,1);
  -moz-box-shadow: -1px 9px 31px 34px rgba(245,201,0,1);
  box-shadow: -1px 9px 31px 24px rgba(255,201,0,1);
}

.nano{
  filter: drop-shadow(1px 1px 2px black);
}